---
import Section from "./Section.astro";

---

<Section
    title="Disfrute de Tesla"
    subtitle="Programe una prueba de coduccion"
    color="white">
    <div slot="buttons">
        <a
        class="border-[3px] border-white text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors" 
        href="#"
        >Demostración de Manejo</a>
    </div>
    <video
        slot="background"
        autoplay
        muted
        loop
        class="object-center object-cover h-full w-full"
        src="/video.webm"></video>
</Section>